extends layout

block content
  .main
    p Welcome to #{title}
    .article-list
      each item in articles
        .article
          h3= item.title
          p= item.content
block script
  script(src='/scripts/index.js')
